*{margin: 0; 
padding: 0;}
body{width: 100%;
    background-color: rgb(214, 214, 199);
    font-family: "Lora", serif; 
height: 2000px;} 
.lora-uniquifier {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
    h1 {background-color: rgb(190, 211, 211); border: 3px rgb(122, 122, 160) solid;}
    h2 { color: rgb(65, 63, 62);
    background-color: rgb(176, 180, 184);}
    .box{font-size: 16px;}
    .ortala{
        text-align: center;}
    .baslık{font-size: 50px;
    position: fixed;}
    .eighty{width: 20%;}
    .links{border: 1px solid forestgreen;
    display: flex;
justify-content: flex-end;}
    .login{margin-left: 20px;}
    .menu{ display: flex;
    justify-content: space-between;}
